EXPO_PUBLIC_SUPABASE_URL=https://gwgwmexpouwadkbtixft.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3Z3dtZXhwb3V3YWRrYnRpeGZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIxMDM5MTIsImV4cCI6MjA3NzY3OTkxMn0.rSquidQcl-1m5GSf0f_yHh3B5Dpki8x8CLIg5FWNMuw